.venv
.env
persist_dir
__pycache__
*.egg-info/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.idea
.vscode
*.log
*.bak    
__pycache__/
*.pyc
readtard.egg-info/   
backend/persist_dir/
backend/data/books/